table{
		z-index:600;
}
#main_menu{
	border-collapse: collapse;
	width:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	padding-bottom:0px;
	margin-bottom:0px;
	position:absolute;
	}

.menu {
	border:3px solid red;
	text-align:center;
	font-size:25px;
	width:20%;
	background-color:#393942;
	height:50px;
}

.menu:hover{
	background-color:red;
	cursor:pointer;
}

#main_menu a{
    display:block;
	color:white;
    text-decoration:none;
}
.almenu{
	background-color:red;
	border-collapse: collapse;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	padding-bottom:0px;
	margin-bottom:0px;
	border:0px solid #7c1717;
	text-align:center;
	font-size:25px;
	width:20%;
	height:50px;
	visibility:hidden;
}
.almenu:hover{
	background-color:#7c1717;
	cursor:pointer;
}

body{
	background-color:#393942;
	color:white;
	z-index: 1;
	position:relative;
}
main{
	z-index: -1;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	background-color:#282831;
	padding-top:0px;
	margin-top:0px;
	padding-bottom:70px;
	font-size:20px;
	text-align: justify;
}
.nezegetendo{
	position:absolute;
	width:350px;
	height:350px;
	visibility:hidden;
}
.leftarrow{
	position:absolute;
	width:35px;
	height:35px;
	top:315px;
}
.rightarrow{
	position:absolute;
	width:35px;
	height:35px;
	left:315px;
	top:315px;
}
#kepnezegeto{
	border:2px solid red;
	position:relative;
	width:350px;
	height:350px;
	margin-left:auto;
	margin-right:auto;
}
#felsorol{
	font-size:1.3em;
}
footer{
	text-align:center;
	font-size:15px;
    width: 100%;
	line-height:10%;
	bottom:0;
	background-color:#282831;
	height:70px;
	position: relative;       
    bottom: 0px; 
}
#kvg{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	padding-left:10%;
	padding-right:10%;
	border:3px solid red;
	text-align:center;
	position:relativ;
	left:40%;
	font-size:25px;
	z-index:1000;
}
#kvg:hover{
	background-color:red;
	cursor:pointer;
}
#kvg a{
	display:block;
	color:white;
    text-decoration:none;
}
h1{
	text-align:center;
}
#map{
	position:absolute;
	left:35%;
}
.map{
	width:600px;
	height:450px;
}
.video{
	width:500px;
	height:300px;
	margin-right:auto;
	margin-left:auto;
	
}
#tartalom{
	padding-left:30px;
	padding-right:30px;
}
.kep{
	width:30%;
	height:30%;
	left:35%;
	position:relative;
}
a{
	color:orange;
}
a:hover{
	color:red;
	
}

#reward{
	display:none;
}
#imgplc{
	text-align:center;
}
#eredmeny{
	font-size:30px;
	text-align:center;
	color:red;
}
#eng{
	display:none;
}
#allito{
	height:40px;
	width:60px;
}
#allito:hover{
	cursor:pointer;
	border:1px solid white;
}
#check{
	vertical-align: middle;
	line-height:50px;
	position:relative;
	float:left;
	width:70px;
	height:50px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	padding-left:10%;
	padding-right:10%;
	border:3px solid green;
	text-align:center;
	font-size:25px;
}
#check:hover{
	background-color:green;
	cursor:pointer;
}
#delete{
	line-height:50px;
	vertical-align: middle;
	float:right;
	position:relative;
	width:70px;
	height:50px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	padding-left:10%;
	padding-right:10%;
	border:3px solid red;
	text-align:center;
	font-size:25px;
}
#delete:hover{
	background-color:red;
	cursor:pointer;
}
#delete a{
	display:block;
	color:white;
    text-decoration:none;
}